.buttonServiceDisplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    width:100%;
  }
.buttonServiceDisplay a{
    width:70%;
    display: block;
}

.landingPageText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text);
    padding: 2rem 0 5rem;
}

h1, h2{
    margin: 0;
}
