.publicServDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    justify-content: space-evenly;
    gap: 1rem;
    margin-top: 1rem;
 }
body{
  background-color: var(--background);
}
.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-top: 1rem;
}