.privateCard{
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    margin: 0 auto;
    color: #000;
    margin-bottom: 2rem;
}

.privateSrv{
    background-color: var(--lila);
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 15px;
}
.privateSrv h3{
  margin-bottom: 1rem;
}

.prvImg{
    background-color: var(--lila);
    width: 100%;
    
    border-radius: 15px;
}
.privContainer{
    display: grid;
  
    align-items: left;
    padding: 1.5rem 2rem;
    border-radius: 15px 0 0 0;
    
  
}
.privContainer p{
  margin-bottom: .4rem;
}

.privContainer span{
  font-weight: 600;
}


.btnAcces {
  background-color: var(--rosu);
  border: 2px solid var(--text);
  border-radius: 15px;
  box-sizing: border-box;
  color: var(--text);
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
   will-change: transform;
   padding: 0.5rem;
align-self: end;
width: fit-content;
text-align: center;
margin-top: 1rem;
}


.btnAcces:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btnAcces:active {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}