.searchContainer{
    background-color: var(--lila);
    color: var(--violet);
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 50px ;
}

@media only screen and (max-width:724px){
    .searchContainer{
        background-color: var(--lila);
        color: var(--violet);
        width: 100%;
    }
}