@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.app{
  font-family: 'Roboto';
  display: grid;
  grid-template-rows: 6rem auto 6rem;
  width:100%;
  min-height: 100vh;
  
}

.header{
  width:100%;
  background-color: var(--background-lighter);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 1rem 0;
}

.header img{
  width: 10rem;
}
