@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --text: #FFFFFB; 
  --violet: #5B5F97;
  --lila:#B8B8D1; 
  --rosu:#FF6B6C; 
  --background: #2F3150; 
  --background-lighter: #393b5d;
  --verde: #57A773;
}

*{
  box-sizing: border-box;
}


body {
  box-sizing: border-box;
  background: var(--black);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  flex-wrap: wrap;
  scroll-behavior: smooth;
  justify-content: space-between;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

a, button{
  border: none;
  text-decoration: none;
}

#root{
  width:100%;
}

.btn{
  width: fit-content;
  background-color: var(--violet);
    color: #fff;
    font-weight: 600;
    padding: .6rem 1.4rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
